-- MySQL dump 10.13  Distrib 9.6.0, for Win64 (x86_64)
--
-- Host: localhost    Database: 127proj
-- ------------------------------------------------------
-- Server version	9.6.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;
SET @MYSQLDUMP_TEMP_LOG_BIN = @@SESSION.SQL_LOG_BIN;
SET @@SESSION.SQL_LOG_BIN= 0;

--
-- GTID state at the beginning of the backup 
--

SET @@GLOBAL.GTID_PURGED=/*!80000 '+'*/ 'c919c212-37cd-11f1-8f21-40c2bae2c7a7:1-22';

--
-- Table structure for table `driver`
--

DROP TABLE IF EXISTS `driver`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `driver` (
  `driverno` char(13) NOT NULL,
  `licno` char(13) NOT NULL,
  `address` varchar(100) NOT NULL,
  `birthdate` date NOT NULL,
  `lictype` varchar(20) NOT NULL,
  `licstatus` varchar(20) NOT NULL,
  `fname` varchar(30) NOT NULL,
  `mname` varchar(30) DEFAULT NULL,
  `lname` varchar(30) NOT NULL,
  `sex` varchar(6) NOT NULL,
  `licexpiration` date NOT NULL,
  PRIMARY KEY (`driverno`),
  UNIQUE KEY `driver_licno_uk` (`licno`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `driver`
--

LOCK TABLES `driver` WRITE;
/*!40000 ALTER TABLE `driver` DISABLE KEYS */;
/*!40000 ALTER TABLE `driver` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `traffic_violation`
--

DROP TABLE IF EXISTS `traffic_violation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `traffic_violation` (
  `violationno` char(13) NOT NULL,
  `violationtype` varchar(30) NOT NULL,
  `violationdate` date NOT NULL,
  `violationloc` varchar(100) NOT NULL,
  `fineamount` double NOT NULL,
  `appofficer` varchar(100) DEFAULT NULL,
  `violationstatus` varchar(20) NOT NULL,
  `driverno` char(13) NOT NULL,
  `chassisno` char(17) NOT NULL,
  PRIMARY KEY (`violationno`),
  KEY `traffic_violation_driverno_fk` (`driverno`),
  KEY `traffic_violation_chassisno_fk` (`chassisno`),
  CONSTRAINT `traffic_violation_chassisno_fk` FOREIGN KEY (`chassisno`) REFERENCES `vehicle` (`chassisno`),
  CONSTRAINT `traffic_violation_driverno_fk` FOREIGN KEY (`driverno`) REFERENCES `driver` (`driverno`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `traffic_violation`
--

LOCK TABLES `traffic_violation` WRITE;
/*!40000 ALTER TABLE `traffic_violation` DISABLE KEYS */;
/*!40000 ALTER TABLE `traffic_violation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vehicle`
--

DROP TABLE IF EXISTS `vehicle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehicle` (
  `chassisno` char(17) NOT NULL,
  `engineno` char(20) NOT NULL,
  `plateno` char(8) NOT NULL,
  `color` varchar(20) NOT NULL,
  `myear` date NOT NULL,
  `vehicletype` varchar(30) NOT NULL,
  `model` varchar(30) NOT NULL,
  `make` varchar(30) NOT NULL,
  `driverno` char(13) NOT NULL,
  PRIMARY KEY (`chassisno`),
  UNIQUE KEY `vehicle_engineno_uk` (`engineno`),
  UNIQUE KEY `vehicle_plateno_uk` (`plateno`),
  KEY `vehicle_driverno_fk` (`driverno`),
  CONSTRAINT `vehicle_driverno_fk` FOREIGN KEY (`driverno`) REFERENCES `driver` (`driverno`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehicle`
--

LOCK TABLES `vehicle` WRITE;
/*!40000 ALTER TABLE `vehicle` DISABLE KEYS */;
/*!40000 ALTER TABLE `vehicle` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vehicle_registration`
--

DROP TABLE IF EXISTS `vehicle_registration`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehicle_registration` (
  `registrationno` char(8) NOT NULL,
  `regstrationdate` date NOT NULL,
  `expirationdate` date NOT NULL,
  `registrationstatus` varchar(20) NOT NULL,
  `chassisno` char(17) NOT NULL,
  PRIMARY KEY (`registrationno`),
  KEY `vehicle_registration_chassisno_fk` (`chassisno`),
  CONSTRAINT `vehicle_registration_chassisno_fk` FOREIGN KEY (`chassisno`) REFERENCES `vehicle` (`chassisno`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehicle_registration`
--

LOCK TABLES `vehicle_registration` WRITE;
/*!40000 ALTER TABLE `vehicle_registration` DISABLE KEYS */;
/*!40000 ALTER TABLE `vehicle_registration` ENABLE KEYS */;
UNLOCK TABLES;
SET @@SESSION.SQL_LOG_BIN = @MYSQLDUMP_TEMP_LOG_BIN;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-14 15:25:03
